<%- model_class = Research -%>
<div class="page-header">
  <h1>Pesquisas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name('categoria') %></th>
      <th><%= model_class.human_attribute_name('usuario') %></th>
      <th><%= model_class.human_attribute_name('cliente') %></th>
      <th><%= model_class.human_attribute_name('celular') %></th>
      <th><%= model_class.human_attribute_name('criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= link_to research.id, research_path(research) %></td>
        <td><%= research.category.name %></td>
        <td><%= research.user %></td>
        <td><%= research.client %></td>
        <td><%= research.cellphone %></td>
        <td><%= research.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_research_path(research), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      research_path(research),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_research_path,
            :class => 'btn btn-primary' %>
