<%- model_class = Loginfo -%>
  <h1>Log de Atividades</h1>
    <h5>Pesquisar por data:</h5>
<%= form_tag(loginfos_path, method: :get) do %>

		<div class="form-group">			  
		<div class="row">
			  <div class="col-lg-3">	  
		<%= date_field_tag(:date1,params[:date1], placeholder: 'data inicial', class: 'form-control') %>
		<%= date_field_tag(:date2,params[:date2], placeholder: 'data final', class: 'form-control') %>	
		</div>
		</div>
		<br />	
		<%= submit_tag "Consultar", class: 'btn btn-success' %>
<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('usuário') %></th>
      <th><%= model_class.human_attribute_name('tarefa') %></th>
      <th><%= model_class.human_attribute_name('realizado em') %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |f| %>
      <tr>
      	<td><%= f.employee %></td>
        <td><%= f.task %></td>
        <td><%= f.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

