<%= form_for @advice, :html => { :class => "form-horizontal advice" } do |f| %>

  <% if @advice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@advice.errors.count, "error") %> prohibited this advice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @advice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'descrição', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label 'tipo de conselho', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:type_advice, options_for_select([["FRIO"],["MORNO"], ["QUENTE"]], @advice.type_advice), {include_blank: 'Tipo de conselho'}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:type_advice) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                advices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
